body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 1050px;

}
.chessboard{
    border: 4px,solid,black;
    height: 90%;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
}
.chessboard div {
    width: calc(100%/8);
}
.w{
    background-color: white;
    width: 100%;
    height: 12.5%;
}
.b{
    background-color: black;
    width: 100%;
    height: 12.5%;
}